.campus-life{
    padding-left: 100px;
    padding-right: 100px;
}

.campus-life-header{
    color: darkblue;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 40px;
    padding: 30px 0px;
    text-align: center;
}

#cl-1 {
    max-width: 35%;
}
.campus-life-image {
    flex-basis: 300%
}

#image{
    height: 300px;
}

.campus-life-text {
    font-size: 20px;
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.banner {
    width: 100%;
    height: 400px;
    background-color: #000;
    background: url("../resources/campus_life.jpeg");
    background-size: 100%
}

.banner span {
    display: block;
    color: #FFF;
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
    font-family: 'Century Gothic'
}

.title {
    text-align: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    color: #555;
    padding: 15px 15%;
    border-bottom: 1px solid #dfe0e4;
    padding-bottom: 28px;
    line-height: 24px
}

.title span {
    font-size: 32px;
    color: #2980b9
}

.title, h3, h4 {
    display: block;
    width: 100%;
    padding: 5px 15px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: normal;
    color: #555
}



.main {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:100px;
}

.main .row {
    background-color: #fff;
    padding: 15px 1.6%;
    border-radius: 2px;
    width: 313px;
    overflow: auto;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    float: left;
    margin: 3px
}

.main .row .image {
    width: 100%;
    border-radius: 1px;
    display: block;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.main .row .text {
    width: 100%;
    color: #777
}

.main .row .text span {
    display: block;
    background-color: black;
    text-align: center;
    padding: 7px;
    color: #FFF;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px
}

.main .row .text p {
    text-align: center;
    display: block;
    height: 140px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.main .row .text button {
    padding: 12px 80px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #611b20 , #b00107);
    display: block;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    font-family: "latoregular", "Helvetica", "Verdana", sans-serif;
    line-height: 15px;
    outline: 0;
    width: 100%;
    /* border: 2px solid black; */
    -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
    transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
    text-decoration:none !important;
}
.campus-button{
    font-size: 20px;
}
.main .row .text button:hover {
    cursor: pointer;
    text-decoration: none !important;
    background-image: linear-gradient(to right, #83252c , #c9060d);
    -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
    transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out
}
.campus-button{
    text-decoration: none;
    font-size: 18px;
}
@font-face {
    font-family: 'latoregular';
    src: url("../fonts/lato-regular-webfont.eot");
    src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
    font-weight: normal;
    font-style: normal
}