<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/academics.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv = "refresh" content = "5; url = http://127.0.0.1:5500/Lab-5/login.html" /> -->
    <title>Academics | University of CambridgeHome Page</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/8/8a/University_of_Cambridge_coat_of_arms.svg">
</head>
<body onload="checkLoginStatus(event)">

    <!-- top-bar -->
    <div class="topbar">
        <div>
            <span class="box text">Admission Test-2021 (Last date to apply 21th May, 2021)</span>
        </div>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div>
            <span><b><a href="./form.html" class="box link">Apply Now →</a></b></span>
        </div>
    </div>

    <!-- main-menu -->
    <div class="mainmenu">
        <div class="logo">
            <img src="../resources/college-logo.png"/ height="52px" onclick="window.open('index.html','_self')">
        </div>
        <div>
            <span>
                <button class="box button" onclick="window.open('about_us.html','_self')">About Us</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('academics.html','_self')">Academics</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('news.html','_self')">News</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('placements.html','_self')">Placements</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('gallery.html','_self')">Gallery</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('campus_life.html','_self')">Campus Life</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('view_data.html','_self')">Students</button>
            </span>
        </div>     
        <div>
            <button id="login" class="box button2" onclick="goToLogin()" onmouseover="mouseIn()" onmouseout="mouseOut()">Login</button>
        </div>
    </div>

    <!-- academics-section -->
    <div class="academics">
        <div class="academics-header">
            Undergraduate Programmes (Including M.Sc./IDD/IMT/Int. M.Sc./BS-MS)
        </div>
        <div class="academics-container">
            <div class="academics-text">
                The University offers the following undergraduate programmes as per the details below.
            </div>
        </div>
        <div class="academics-text-course">
            Bachelors Degrees Structure
        </div>
        <div class="academics-bachelor-table">
            <table class="redTable">
                <thead>
                <tr>
                <th>Sl. No</th>
                <th>Academic Department</th>
                <th>Programmes</th>
                <th>Course Duration</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                <td>1</td>
                <td>Architecture & Planning</td>
                <td>B.Arch. Architecture</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>2</td>
                <td>Biosciences and Bioengineering</td>
                <td>B. Tech. Biotechnology & B.Tech. Biosciences and Bioengineering*</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Chemical Engineering</td>
                <td>B. Tech. Chemical Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>4</td>
                <td>Civil Engineering</td>
                <td>B. Tech. Civil Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>5</td>
                <td>Electrical Engineering</td>
                <td>B. Tech. Electrical Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>6</td>
                <td>Electronics & Communcation Engineering</td>
                <td>B. Tech. Electronics & Communication Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>7</td>
                <td>Computer Science and Engineering</td>
                <td>B. Tech. Computer Science & Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>8</td>
                <td>Mechanical & Industrial Engineering</td>
                <td>B. Tech. Mechanical Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>9</td>
                <td>Metallurgical & Materials Engineering</td>
                <td>B. Tech. Metallurgical & Materials Engineering</td>
                <td>4 years</td>
                </tr>
                <tr>
                <td>10</td>
                <td>Physics</td>
                <td>B.Tech. Engineering Physics</td>
                <td>4 years</td>
                </tr>
                </tbody>
                </table>
        </div>
        <div class="academics-text-course">
            Integrated dual degree
        </div>
        <div class="academics-text">
            Students of B.Tech. programmes at the end of 3rd year can opt to switch over to any of those M.Tech. programmes whose eligibility criteria is satisfied by their B.Tech. branch. The conversion would require a minimum CGPA of 7.5 at the end of 3rd year and the consent of the DAPCs of the concerned Departments. On successful completion of the programme, the students will get corresponding B.Tech. and M.Tech. degrees under the Integrated Dual Degree Programmes.  
    </div>

    <!-- bottom-section -->
    <div class="bottom-section">
        <div class="column-container">
            <div class="column">
                <div class="bottom-heading">
                    <div>PARENTS</div>
                </div>
                <div class="bottom-content">
                    <div>Counselling Division</div><br>
                    <div>Hotels in England</div><br>
                    <div>Guest House</div><br>
                    <div>Parent Login</div><br>
                    <div>Programmes Offered</div><br>
                </div>
            </div>
            <div class="column">
                <div class="bottom-heading">
                    <div>UNIVERSITY STUDENTS</div>
                </div>
                <div class="bottom-content">
                    <div>People Orbit</div><br>
                    <div>General Grievance Redressal Committee</div><br>
                    <div>Institute of Emminence (IoE)</div><br>
                    <div>Anti Ragging Committee</div><br>
                    <div>Industrial Visit(Format & Guidelines)</div><br>
                    <div>NATS [National Apprenticeship Training Scheme]</div><br>
                </div>
            </div>
            <div class="column">
                <div class="bottom-heading">
                    <div>OTHER LINKS</div>
                </div>
                <div class="bottom-content">
                    <div>Right to Information</div><br>
                    <div>About Research at Cambridge</div><br>
                    <div>Safety</div><br>
                    <div>Courses in Education</div><br>
                    <div>Programmes Offered</div><br>
                </div>  
            </div>
        </div>
        <div class="social-links">
            <div class="social-content-text">FOLLOW US:</div>
            <div class="social-content-img"><img src="../resources/twitter.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/facebook.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/linkedin.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/instagram.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/github.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/youtube.svg" width="20px"></div>
        </div>
        <div class="footer">
            <div class="footer-content">© 2021 by University of Cambridge</div>
            <div class="footer-content">Privacy Policy</div>
        </div>
    </div>
    <script type="text/javascript" src="../static/index.js"></script>  
</body>
</html>

